*{
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-wrap: wrap;
    background: url(pics/23.png);
    background-size: cover;
    color: white;
    font-size: 50px;
    
}

h2 {
    margin-top: 100px;
    margin-left: 150px;
}
h3 {
    margin-top: 100px;
    margin-left: 150px;
}